*{
	margin:0px;
	padding:0px;
	font-size: 20px;
}
.bgimage{
	background-image: url('ss.jpg');
	background-size: 100% 110%;
	width: 100%;
	height: 100vh; 
}

.menu{

	width: 100%;
	height: 100px;
	background-color: rgba(0,0,0,0.5);
}

.leftmenu{
	width:20%;
	line-height:100px;
	float:left;
}
.leftmenu h4{
	padding-left: 70px;
	font-weight: bold;
	color:white;
	font-size: 22px;
	font-family:'Montserrat', sans-serif;
}

.rightmenu{
	width:75%;
	height: 100px;
	float: right;
}
.rightmenu ul{
	margin-left: 200px;
}

.rightmenu ul li{
	font-family:'Montserrat', sans-serif;
	display:inline-block;
	list-style:none;
	font-size:15px;
	color:white;
	font-weight:bold;
	line-height:100px;
	margin-left:40px;
	text-transform: uppercase;
}

#firstlist{
	color: orange;
}

.rightmenu ul li:hover{
	color: orange;
}

.text{
	width: 100%;
	margin-top:185px;
	text-transform: uppercase;
	text-align: center;
	color:white;
}

.text h4{
	font-size: 14px;
	font-family: 'Open-Sans', sans-serif;
}

.text h2{
	font-size:62px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700px;
	margin:14px 0px;
}

#button{

	background-color: transparent;
	border:none;
	font-family: 'Montserrat', sans-serif;
	font-transform: uppercase;
	font-weight: bold;
	line-height: 40px;
	border: 3px solid white;
	width: 150px;
}
